
body {
    padding: 25px;
}

h1 {
    font-family: Montserrat; 
    
    font-size: 3rem;
    font-weight: 500;

}

p {
    font-family: Montserrat; 
}

img {
    margin: 25px;
    border-radius: 15px;
}
